body {
  background-color: #867d7b;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

form {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

input {
  height: 2rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

input[radio] {
  font-size: 1.5rem;
}

label {
  font-size: 1.5rem;
}

#number {
  margin-bottom: 2rem;
}

#dropdown {
  height: 2rem;
}

textarea {
  border-radius: 5px;
}

#submit {
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  background-color: rgb(62, 62, 210);
}

h1 {
  color: white;
}
